router ospf
!
{% for area in ospf.areas %}
{% for interface in area.interfaces %}
interface {{interface.name }}
  {% if interface.type == 'p2p' %}
  ip ospf network point-to-point
  {% endif %}
  ip ospf area {{ area.name }}
!
{% endfor %}
{% endfor %}
